/** Light theme colors */

:root {
  --background-color: #EEE;
  --color: #111;
  --card-background-color: #FCC;
  --card-color: #700;
  --card-border-color: #A00;
  --card-label-background: #F99;
  --header-background: #CCF;
  --header-color: #22C;
  --menu-background: #AFA;
  --navbar-hover-background: #9E9;
  --navbar-selectedTab-background: #8D8;
  --combat-instructions-background: #BEB;
  --combat-instructions-color: #022;
  --combat-controls-background: #DFF;
  --combat-controls-color: #022;
}

/** Dark theme colors */

.theme-dark {
  --background-color: #111;
  --color: #EEE;
  --card-background-color: #700;
  --card-color: #FCC;
  --card-border-color: #A00;
  --card-label-background: #A44;
  --header-background: #229;
  --header-color: #CCF;
  --menu-background: #050;
  --navbar-hover-background: #272;
  --navbar-selectedTab-background: #494;
  --combat-instructions-background: #055;
  --combat-instructions-color: #CFF;
  --combat-controls-background: #133;
  --combat-controls-color: #DFF;
}

/** Basic Shared Layout */

body {
  background-color: var(--background-color);
  color: var(--color);
  margin: 0em;
}

header {
  background-color: var(--header-background);
  color: var(--header-color);
  padding: 0em 0.5em;
}

header h1, header h2, header h3 {
  margin: 0em;
  padding: 0.25em 0em;
}

#menuBar {
  display: flex;
  justify-content: space-between;
  background-color: var(--menu-background);
  font-size: larger;
}

#content {
  display: flex;
  flex-direction: column;
}

#pageSelector, #themeSelector {
  display: flex;
}

#pageSelector {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pageSelector > li > a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color);
  padding: 0.5em;
  display: block;
}

#pageSelector > li.selected {
  cursor: pointer;
  background-color: var(--navbar-selectedTab-background);
}

#pageSelector > li:hover {
  cursor: pointer;
  background-color: var(--navbar-hover-background);
}

#themeSelector > legend, #themeSelector > div.ts-item {
  padding: 0.5em;
}

#themeSelector > legend {
  font-weight: bold;
}

#pokedex-deck-container, #pokedex-pokemon-details-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1em;
}

/** Index Page Specific Styles */

/** Hidden content */

#pokedex-html-templates {
  display: none;
}

/** Hiddeable blocks */

#pokedex-deck-container.hidden, #pokedex-pokemon-details-container.hidden, .poke-card.hidden {
  display: none;
}

/** Pokemon Filter Styles */

#pokedex-filter-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: x-large;
  padding: 0.5em;
}

#pokedex-filter-container input {
  width: 20em;
}

#pokedex-filter-container button {
  font-size: large;
}

/** Pokemon deck i Pokemon details */

#pokedex-deck {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(5, 12em);
  grid-gap: 2em;
}

#pokedex-pokemon-details {
  display: grid;
  justify-content: center;
  grid-template-columns: 24em;
}

div.poke-card, div.poke-card-details {
  width: 100%;
  display: grid;
  justify-content: stretch;
  align-content: stretch;
  text-align: center;
  background-color: var(--card-background-color);
  color: var(--card-color);
  border: 0.5em solid var(--card-border-color);
  border-radius: 1em;
}

div.poke-card { 
  grid-template-columns: 6em 6em;
  grid-template-rows: 3em 12em 1.5em 1.5em 1.5em;
}

div.poke-card-details {
  justify-content: center;
  grid-template-columns: repeat(4, 6em);
  grid-template-rows: 3em 12em 1.5em 1.5em 1.5em 3em;
}

.poke-card .poke-name, .poke-card-details .poke-name {
  font-weight: bold;
  font-size: large;
  background-color: var(--card-label-background);
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.poke-card .poke-name {
  grid-column: 1 / span 2;
}

.poke-card-details .poke-name {
  grid-column: 1 / span 4;
}

.poke-card .poke-front-image, .poke-card-details .poke-front-image, .poke-card-details .poke-back-image {
  grid-row: 2;
  justify-self: stretch;
  align-self: stretch;
}

.poke-card .poke-front-image, .poke-card-details .poke-front-image {
  grid-column: 1 / span 2;
}

.poke-card-details .poke-back-image {
  grid-column: 3 / span 2;
}

.poke-card .poke-stats-label, .poke-card-details .poke-stats-label {
  font-size: small;
  font-weight: bold;
}

.poke-card .poke-stats-value, .poke-card-details .poke-stats-value {
  font-size: medium;
  font-weight: bold;
}

.poke-card .poke-more-details {
  grid-column: 1 / span 2;
}

.poke-card-details .poke-types-label {
  grid-row: 5;
  grid-column: 1 / span 4;
  justify-self: stretch;
  padding: 0.25em 0em;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  background-color: var(--card-label-background);
}

.poke-card-details .poke-types-values {
  grid-row: 6;
  grid-column: 1 / span 4;
}

.poke-card-details .poke-types-values ul {
  display: flex;
  gap: 1em;
}

.poke-card-details .poke-types-values li {
  list-style-type: none;
  width: 4.5em;
  font-size: large;
}

#pokedex-pokemon-details {
  display: grid;
}

/** Combat Page Specific Styles */

#pokedex-combat-instructions {
  background-color: var(--combat-instructions-background);
  color: var(--combat-instructions-color);
  padding: 0.5em;
  font-size: larger;
}

#pokedex-combat-controls {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  background-color: var(--combat-controls-background);
  font-size: x-large;
  color: var(--combat-controls-color);
  padding: 0.5em;
}

#pokedex-combat-controls button {
  font-size: large;
}

#pokedex-deck.poke-combat-deck {
  grid-template-rows: 18.5em;
  padding: 0.5em;
}

.poke-combat-card div.poke-card{
  grid-template-columns: 6em 6em;
  grid-template-rows: 3em 12em 1.5em 1.5em;
}

.poke-combat-card {
  background-color: transparent;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  cursor: pointer;
}

.poke-combat-card-content {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform-origin: 6.5em;
}

.poke-combat-card.selected .poke-combat-card-content {
  transform: rotateY(180deg);
}

.poke-combat-card .poke-card, .poke-combat-card .poke-card-back {
  position: absolute;
  --webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.poke-combat-card .poke-card {
  transform: rotateY(180deg);
}

.poke-combat-card .poke-card-back {
  width: 100%;
  height: 18em;
  border: 0.5em solid var(--card-border-color);
  border-radius: 1em;
  background: repeating-linear-gradient(-45deg, var(--card-background-color), var(--card-background-color) 1em, var(--card-label-background) 1em, var(--card-label-background) 2em);
}

.poke-combat-card:hover .poke-card-back {
  background: repeating-linear-gradient(-45deg, var(--card-label-background), var(--card-label-background) 1em, var(--card-color) 1em, var(--card-color) 2em);
}

