:root {
  --background-color: #EEE;
  --color: #111;
  --card-background-color: #FCC;
  --card-color: #700;
  --card-border-color: #A00;
  --card-label-background: #F99;
  --menu-background: #AFA;
  --navbar-hover-background: #9E9;
  --navbar-selectedTab-background: #8D8;
}

.theme-dark {
  --background-color: #111;
  --color: #EEE;
  --card-background-color: #700;
  --card-color: #FCC;
  --card-border-color: #A00;
  --card-label-background: #A44;
  --menu-background: #050;
  --navbar-hover-background: #272;
  --navbar-selectedTab-background: #494;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  margin: 0em;
}

#menuBar {
  display: flex;
  justify-content: space-between;
  background-color: var(--menu-background);
}

#content {
  padding-top: 1em;
}

#pageSelector, #themeSelector {
  display: flex;
}

#pageSelector {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pageSelector > li > a {
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  color: var(--color);
  padding: 0.5em;
  display: block;
}

#pageSelector > li.selected {
  cursor: pointer;
  background-color: var(--navbar-selectedTab-background);
}

#pageSelector > li:hover {
  cursor: pointer;
  background-color: var(--navbar-hover-background);
}

#themeSelector > legend, #themeSelector > div.ts-item {
  font-size: large;
  padding: 0.5em;
}

#themeSelector > legend {
  font-weight: bold;
}

#pokedex-deck-container, #pokedex-pokemon-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#pokedex-filter-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: large;
}

#pokedex-filter-container input {
  width: 20em;
}

#pokedex-deck {
  display: grid;
  grid-template-columns: repeat(5, 12em);
  grid-template-rows: 16.5em 16.5em;
  grid-gap: 2em 4em;  
}

#pokedex-deck-container.hidden, #pokedex-pokemon-details-container.hidden, .poke-card.hidden {
  display: none;
}

div.poke-card, div.poke-card-details {
  
  display: grid;
  place-items: center;

  background-color: var(--card-background-color);
  color: var(--card-color);
  border: 0.5em solid var(--card-border-color);
  border-radius: 1em;

}

div.poke-card { 
  grid-template-columns: 5.5em 5.5em;
  grid-template-rows: 2em 9.5em 0.5em 2em 1em;
}

div.poke-card-details {
  grid-template-columns: repeat(4, 5.5em);
  grid-template-rows: 2em 9.5em 0.5em 1.5em 1.5em 4em;
}

.poke-card .poke-name, .poke-card-details .poke-name {
  grid-row: 1;
  font-weight: bold;
  font-size: large;
}

.poke-card .poke-name {
  grid-column: 1 / span 2;
}

.poke-card-details .poke-name {
  grid-column: 1 / span 4;
}

.poke-card .poke-front-image, .poke-card-details .poke-front-image, .poke-card-details .poke-back-image {
  grid-row: 2;
}

.poke-card .poke-front-image, .poke-card-details .poke-front-image {
  grid-column: 1 / span 2;
}

.poke-card-details .poke-back-image {
  grid-column: 3 / span 2;
}

.poke-card .poke-stats-label, .poke-card-details .poke-stats-label {
  font-size: small;
  font-weight: bold;
}

.poke-card .poke-stats-value, .poke-card-details .poke-stats-value {
  font-size: medium;
  font-weight: bold;
}

.poke-card .poke-more-details {
  grid-row: 5;
  grid-column: 1 / span 2;
}

.poke-card-details .poke-types-label {
  grid-row: 5;
  grid-column: 1 / span 4;
  width: 98%;
  padding: 1%;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  background-color: var(--card-label-background);
}

.poke-card-details .poke-types-values {
  grid-row: 6;
  grid-column: 1 / span 4;
}

.poke-card-details .poke-types-values ul {
  display: flex;
  gap: 1em;
}

.poke-card-details .poke-types-values li {
  list-style-type: none;
  width: 4.5em;
  font-size: large;
}

#pokedex-pokemon-details {
  display: grid;
}

#pokedex-html-templates {
  display: none;
}
